In [2]:
import sqlite3
import pandas as pd
import os

# Caminho para o banco na raiz do projeto
db_path = os.path.join("..", "unidades.db")

# Conecta ao banco
conn = sqlite3.connect(db_path)

# Carrega tabela 'unidades' em DataFrame
df_unidades = pd.read_sql_query("SELECT * FROM unidades", conn)

print("ðŸ“Š DiagnÃ³stico completo:")
df_unidades.info()

print("\nðŸ“‹ Apenas nomes das colunas:")
colunas_df = pd.DataFrame(df_unidades.columns, columns=["Colunas"])
display(colunas_df)

# Fecha a conexÃ£o
conn.close()

ðŸ“Š DiagnÃ³stico completo:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2179 entries, 0 to 2178
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2179 non-null   int64
 1   rede                   2179 non-null   object
 2   nome                   2179 non-null   object
 3   endereco               2179 non-null   object
 4   cidade                 2179 non-null   object
 5   estado                 2179 non-null   object
 6   cep                    2179 non-null   object
 7   telefone               2179 non-null   object
 8   latitude               2179 non-null   object
 9   longitude              2179 non-null   object
 10  horarios               2179 non-null   object
 11  servicos               2179 non-null   object
 12  link_matricula         2179 non-null   object
 13  data_criacao           2179 non-null   object
 14  data_atualizacao       2179 non-null   object
 15  bairro_cdn             2129 non-null   object
 16  cidade_cdn             2175 non-null   object
 17  estado_cdn             2175 non-null   object
 18  pais_cdn               2175 non-null   object
 19  beneficios             387 non-null    object
 20  campo_inexistente      0 non-null      object
 21  horario_funcionamento  0 non-null      object
 22  modalidades            0 non-null      object
 23  outro_campo            0 non-null      object
 24  planos                 387 non-null    object
 25  preco_mensalidade      0 non-null      object
dtypes: int64(1), object(25)
memory usage: 442.7+ KB

ðŸ“‹ Apenas nomes das colunas:

                  Colunas
0                      id
1                    rede
2                    nome
3                endereco
4                  cidade
5                  estado
6                     cep
7                telefone
8                latitude
9               longitude
10               horarios
11               servicos
12         link_matricula
13           data_criacao
14       data_atualizacao
15             bairro_cdn
16             cidade_cdn
17             estado_cdn
18               pais_cdn
19             beneficios
20      campo_inexistente
21  horario_funcionamento
22            modalidades
23            outro_campo
24                 planos
25      preco_mensalidade